body {
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Rubik', sans-serif;
}

header {
  font-family: 'Jost', sans-serif;
  background-color: #282c34;
  color: white;
  padding: 50px 0;
  text-align: center;
}

header .container {
  max-width: 800px;
  margin: 0 auto;
}

.container h2{
  font-family: 'Jost', sans-serif;
}

h1 {
  font-size: 3em;
  margin: 0 0 20px;
}

p {
  font-size: 1.2em;
  margin: 0 0 20px;
  margin-bottom: 20px;
}

.btn-get-started {
  margin-top: 20px;
  background-color: #FF7B53;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-get-started:hover {
  background-color: #e66a3f;
  transform: scale(1.05);
}

.features,
.testimonials,
.call-to-action {
  padding: 50px 0;
  text-align: center;
}

.features .container,
.testimonials .container,
.call-to-action .container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s;
  width: calc(33% - 40px);
}

.card:hover {
  transform: translateY(-10px);
}

.feature-card h3,
.testimonial-card h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature-card p,
.testimonial-card p {
  font-size: 1.1em;
}

.testimonial-card h4 {
  font-size: 1em;
  margin-top: 10px;
  color: #555;
}

.call-to-action h2 {
  font-size: 2em;
  margin-bottom: 20px;
}