.header {
  background-color: #181820;
  height: 50vh;
  text-align: center;
  color: white;
  padding: 40px;
}

.header h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.search-input {
  width: 300px;
  padding: 7px;
  border: 2px solid #ccc;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 16px;
}

.search-button {
  padding: 7px 20px;
  border: 2px solid #ccc;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background-color: #f0f0f0;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #FF7B53;
}

.forum-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 18%;
}

.button-1 {
  background-color: #181820;
  border: 2px solid #FF7B53;
  margin-right: 20px;
}

.button-2 {
  background-color: #FF7B53;
  border: 2px solid #FF7B53;
}

.button-2:hover {
  background-color: #E1613A;
  border: 2px solid #E1613A;
}

.content {
  display: flex;
  padding: 40px 30px 0 80px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.add-topics {
  background-color: #EFEFFD;
  padding: 15px;
  border-radius: 10px;
  margin-right: 20px;
  width: 100%;
  height: 65px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.add-topics img {
  margin-right: 10px;
}

.add-topics input {
  border-radius: 10px;
  width: 90%;
  justify-content: center;
  font-size: 15px;
  margin-right: 10px;
}

.add-topics button {
  border-radius: 10px;
  width: 10%;
  background-color: white;
}

.add-topics button:hover {
  background-color: #FF7B53;
}

.post {
  margin-right: 60px;
}

.topic1 {
  border: 1px solid black;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-bottom: 60px;
}

.detail {
  display: flex;
  margin-bottom: 5px;
}

.name {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 8px;
  color: black;
}

.time {
  font-size: 12px;
  color: black;
}

.detail img {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.topic1 img {
  margin-bottom: 10px;
}

.topic1 p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 19px;
  color: black;
}

.tag {
  display: flex;
  margin-left: 10px;
}

.tag p {
  font-size: 15px;
  color: black;
}

.tags {
  background-color: #EFEFFD;
  height: 60%;
  margin-right: 5px;
  display: inline-block;
  padding-right: 10px;
  border: 1px solid white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon img {
  margin-left: 10px;
}

.sort {
  border: 1px solid black;
  width: 35%;
  border-radius: 10px;
  height: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.sort input {
  width: 100%;
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  margin-bottom: 50px;
}

.title1 {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-left: 20px;
}

.title2 {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-left: 20px;
}

.option-select select {
  padding: 2px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20px;
  width: 45%;
  margin-bottom: 90px;
}

.option-select select:focus {
  border-color: #007bff;
}

.option-select select option {
  background-color: #f9f9f9;
  color: #333;
}

.option-select select option:checked {
  background-color: #007bff;
  color: #fff;
}

.tag-row {
  display: flex;
  margin-left: 10px;
}

.tag-row p {
  font-size: 14px;
  color: black;

}

.tagss {
  background-color: #EFEFFD;
  margin-right: 5px;
  display: inline-block;
  padding: 0 10px 0 10px;
  border: 1px solid white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 25px;
  text-align: center;
  margin-bottom: 7px;
  margin-left: 10px;
}

.button-search {
  margin-top: 85px;
  border-radius: 10px;
  width: 130px;
  font-size: 20px;
  background-color: #FF7B53;
  color: white;
  font-weight: 500;
  border: none;
  margin-left: 20px;
}