.profile-card {
  background-color: #1f1f1f;
  color: white;
  padding: 40px 30px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-info {
  flex-grow: 1;
  margin-left: 20px;
}

.profile-info h1 {
  margin: 0;
  font-family: 'Rubik';
  font-size: 24px;
  font-weight: 700;
}

.tags {
  margin: 10px 0;
}

.tags span {
  font-size: 12px;
}

.tag {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  font-size: 10px; /* Reduced font size */
}

.profile-info p {
  margin: 5px 0;
  font-size: 14px;
}

.profile-info .location {
  font-size: 12px;
  color: #C8C8C8;
}

.profile-actions {
  display: flex;
  flex-direction: column;
}

.profile-actions button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-actions button:hover {
  background-color: #e64a19;
}

.view-portfolio {
  background-color: transparent;
  border: 1px solid #ff5722;
}

.view-portfolio:hover {
  background-color: #ff5722;
}

.profile-nav {
  margin-top: -5px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(23, 26, 30, 0.20);
  padding: 10px 0;
  display: flex;
  justify-content: left;
}

.link {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.link:hover {
  color: #ff5722;
}

.link.active {
  color: #ff5722;
  border-bottom-color: #ff5722;
}

.container-dalem {
  width: 100%;
  background-color: #C8C8C8;
}
